package ${basePackageName}.controller;

import javax.servlet.http.HttpServletResponse;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.context.annotation.Scope;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.ResponseBody;
import org.springframework.web.servlet.ModelAndView;

import com.elend.p2p.BaseController;
import com.elend.p2p.Result;
import com.elend.p2p.constant.ResultCode;
import com.elend.p2p.resource.ClassResourceDesc;
import com.elend.p2p.resource.MethodResourceDesc;
import ${basePackageName}.service.$table.getClassName()Service;
import ${basePackageName}.vo.$table.getClassName()VO;
import ${basePackageName}.vo.$table.getClassName()SearchVO;
import com.elend.p2p.PageInfo;


@ClassResourceDesc(firstCate = "$table.comment控制器接口")
@Controller
@Scope("prototype")
public class $table.getClassName()Controller extends BaseController {
	
	@Autowired
	private $table.getClassName()Service service;
	
	@MethodResourceDesc(name = "查询符合条件的信息")
	@RequestMapping(value = "/${table.getClassName()}/list.do")
	@ResponseBody
	public Result<PageInfo<${table.getClassName()}VO>> list($table.getClassName()SearchVO  svo) {
		return service.list(svo);
	}
	
	@MethodResourceDesc(name = "根据id获取信息")
	@RequestMapping(value = "/${table.getClassName()}/get.do")
	@ResponseBody
	public Result<${table.getClassName()}VO> get($table.getPrikey().getJtype() $table.getPrikey().getName()) {
		return service.get($table.getPrikey().getName());
	}

	@MethodResourceDesc(name = "保存")
	@RequestMapping(value = "/${table.getClassName()}/save.do")
	@ResponseBody
	public Result<$table.getClassName()VO> save($table.getClassName()VO vo) {
		return service.save(vo);
	}

	@MethodResourceDesc(name = "删除")
	@RequestMapping(value = "/${table.getClassName()}/delete.do")
	@ResponseBody
	public Result<$table.getPrikey().getReferenceType()> delete($table.getPrikey().getJtype() $table.getPrikey().getName()) {
		return service.delete($table.getPrikey().getName());
	}

	/**
	 * ============================== * jsp页面的jspx forward跳转 * ==========================================
	 */

	@MethodResourceDesc(name = "列表页面")
	@RequestMapping(value = "/${table.getClassName()}/list.jspx")
	public ModelAndView listPage() {
		return new ModelAndView("forward:/WEB-INF/${table.getClassName()}/list.jsp");
	}

	@MethodResourceDesc(name = "操作页面")
	@RequestMapping(value = "/${table.getClassName()}/op.jspx")
	public ModelAndView opPage() {
		return new ModelAndView("forward:/WEB-INF/${table.getClassName()}/op.jsp");
	}

}
